In [1]:
#import dependencies (1)
import pandas as pd
from pathlib import Path

In [2]:
#creating initial dataframes, reading in and then converting csv data into a pandas df (1)
schools_df = pd.read_csv(Path("Resources/schools_complete.csv"))
students_df = pd.read_csv(Path("Resources/students_complete.csv"))
#sorting schools_df by school name, alphabetically (6)(8). The index is reset.
schools_df = schools_df.sort_values(by='school_name').reset_index()

In [3]:
#calculate passing rates for math, reading and total. using 60/100 as benchmark for 'passing'. (2)

math_passing = (students_df["math_score"].loc[students_df["math_score"]>60].count() / students_df["math_score"].count()) * 100

reading_passing = (students_df["reading_score"].loc[students_df["reading_score"]>60].count() / students_df["reading_score"].count()) * 100

#idenitying rows where reading score and math score are both > 60, and calculating a percentage (3)
total_passing = (((students_df["reading_score"]>60) & (students_df["math_score"]>60)).sum() / students_df["reading_score"].count()) * 100

In [4]:
#storing all target values and categories in a dictionary.
district_summary_data = {
    "Category": ["Total Schools", 
                 "Total Students", 
                 "Total Budget ($)",
                 "Average Math Score",
                 "Average Reading Score",
                 "Math Passing %",
                 "Reading Passing %",
                 "Total Passing %"
                ],
    "Value": [schools_df["school_name"].count(),
              students_df["student_name"].count(),
              schools_df["budget"].sum(),
              round(students_df["math_score"].mean(),2),
              round(students_df["reading_score"].mean(),2),
              round(math_passing, 2),
              round(reading_passing, 2),
              round(total_passing, 2)
            ]
    }

In [5]:
#converting dictionary object into a dataframe. (4)
district_summary_df = pd.DataFrame(district_summary_data)
#setting the category values as index values (5)
district_summary_df = district_summary_df.set_index('Category', drop=True)
print("Distric Summary: ")
district_summary_df.head(20)

Distric Summary:

                             Value
Category
Total Schools                15.00
Total Students            39170.00
Total Budget ($)       24649428.00
Average Math Score           78.99
Average Reading Score        81.88
Math Passing %               90.91
Reading Passing %           100.00
Total Passing %              90.91

In [6]:
#creating dataframes that contain average scores by school, using .groupby() and .mean() (6). 
# resetting the index of each dataframe with reset_index() (7), to match the formatting of schools_df.
mathAVG = (pd.DataFrame(students_df.groupby(["school_name"]).mean()).reset_index())[["school_name","math_score"]]
readAVG = (pd.DataFrame(students_df.groupby(["school_name"]).mean()).reset_index())[["school_name","reading_score"]]

In [7]:
#creating a dictionary of desired values to pass into pd.DataFrame
school_summary_data = {
    "school_name": schools_df["school_name"],
    "School Type": schools_df["type"],
    "Student Count": schools_df["size"],
    "Total Budget ($)": schools_df["budget"],
    "Per-Student Budget ($)": (schools_df["budget"]/schools_df["size"]),
    "Average Math Score": mathAVG["math_score"],
    "Average Reading Score": readAVG["reading_score"]  
    }

In [10]:
#creating the first iteration of the school summary dataframe
school_summary_df = pd.DataFrame(school_summary_data)

In [29]:
#code block to determing the percentage of students passing math, by school
#adding this data to school summary data.

#find the number of students passing math
passing_math = students_df.loc[(students_df['math_score']>60)]
#grouping loc output and creating a new dataframe
passing_math = pd.DataFrame(passing_math.groupby("school_name").size()).reset_index()
#rename columns (9)
passing_math = passing_math.rename(columns = {0:"Number of Students Passing Math"})

#find the total number of students per school, creating new dataframe
school_pop = pd.DataFrame(students_df.groupby("school_name").size()).reset_index()
school_pop = school_pop.rename(columns = {0:"Total Students"})

#merging two dataframe on shared series 'school_name' (10)
math_merge = pd.merge(passing_math,school_pop, on="school_name")
#creating a new series
math_merge["Passing Math %"] = (math_merge["Number of Students Passing Math"] / \
                                math_merge["Total Students"]) * 100
#simplifying dataframe to target columns
math_merge = math_merge[["school_name", "Passing Math %"]]


#merging math data into summary dataframe
school_summary_df1 = pd.merge(school_summary_df, math_merge, on="school_name")

In [30]:
#code block to determing the percentage of students passing reading, by school. this code mimics the math block above.
#adding this data to school summary data.

#find the number of students passing reading
passing_read = students_df.loc[(students_df['reading_score']>60)]
#grouping loc output and creating a new dataframe
passing_read = pd.DataFrame(passing_read.groupby("school_name").size()).reset_index()
passing_read = passing_read.rename(columns = {0:"Number of Students Passing Reading"}) #(9)

#merging two dataframe on shared series 'school_name' (10)
#using school_pop dataframe calculated earlier, which containts total population per school
read_merge = pd.merge(passing_read,school_pop, on="school_name")
#creating a new series
read_merge["Passing Reading %"] = (read_merge["Number of Students Passing Reading"] / \
                                read_merge["Total Students"]) * 100
#simplifying dataframe to target columns
read_merge = read_merge[["school_name", "Passing Reading %"]]


#merging math data into summary dataframe
school_summary_df2 = pd.merge(school_summary_df1, read_merge, on="school_name")

In [31]:
#code block to determing the percentage of students passing reading AND math, by school. this code mimics the math block above.
#adding this data to school summary data.

#find the number of students passing reading AND passing math
passing_total = students_df.loc[((students_df['reading_score']>60) & (students_df['math_score']>60)),:]
#grouping loc output and creating a new dataframe
passing_total = pd.DataFrame(passing_total.groupby("school_name").size()).reset_index()
passing_total = passing_total.rename(columns = {0:"Number of Students Passing"}) #(9)

#merging two dataframe on shared series 'school_name' (10)
#using school_pop dataframe calculated earlier, which containts total population per school
total_merge = pd.merge(passing_total,school_pop, on="school_name")
total_merge.head(20)


#creating a new series
total_merge["Total Passing %"] = (total_merge["Number of Students Passing"] / \
                                total_merge["Total Students"]) * 100
#simplifying dataframe to target columns
total_merge = total_merge[["school_name", "Total Passing %"]]


#merging math data into summary dataframe
school_summary_df3 = pd.merge(school_summary_df2, total_merge, on="school_name")
school_summary_df3.head(20)

,school_name,School Type,Student Count,Total Budget ($),Per-Student Budget ($),Average Math Score,Average Reading Score,Passing Reading %_x,Passing Math %_x,Passing Math %_y,Passing Reading %_y,Total Passing %
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,100.0,87.439711,87.439711,100.0,87.439711
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,100.0,100.000000,100.000000,100.0,100.000000
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,100.0,86.436080,86.436080,100.0,86.436080
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,100.0,87.221614,87.221614,100.0,87.221614
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,100.0,100.000000,100.000000,100.0,100.000000
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,100.0,86.450917,86.450917,100.0,86.450917
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,100.0,100.000000,100.000000,100.0,100.000000
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,100.0,86.835790,86.835790,100.0,86.835790
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,100.0,86.704474,86.704474,100.0,86.704474
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,100.0,100.000000,100.000000,100.0,100.000000
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,100.0,86.446612,86.446612,100.0,86.446612
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,100.0,100.000000,100.000000,100.0,100.000000
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,100.0,100.000000,100.000000,100.0,100.000000
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,100.0,100.000000,100.000000,100.0,100.000000
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,100.0,100.000000,100.000000,100.0,100.000000

In [ ]:
#cleaning and formatting the school summary dataframe