In [9]:
#import dependencies (1)
import pandas as pd
from pathlib import Path

In [10]:
#creating initial dataframes, reading in and then converting csv data into a pandas df (1)
schools_df = pd.read_csv(Path("Resources/schools_complete.csv"))
students_df = pd.read_csv(Path("Resources/students_complete.csv"))

In [11]:
#calculate passing rates for math, reading and total. using 60/100 as benchmark for 'passing'. (2)

math_passing = (students_df["math_score"].loc[students_df["math_score"]>60].count() / students_df["math_score"].count()) * 100

reading_passing = (students_df["reading_score"].loc[students_df["reading_score"]>60].count() / students_df["reading_score"].count()) * 100

#idenitying rows where reading score and math score are both > 60, and calculating a percentage (3)
total_passing = (((students_df["reading_score"]>60) & (students_df["math_score"]>60)).sum() / students_df["reading_score"].count()) * 100

In [12]:
#storing all target values and categories in a dictionary.
district_summary_data = {
    "Category": ["Total Unique Schools", 
                 "Total Students", 
                 "Total Budget ($)",
                 "Average Math Score",
                 "Average Reading Score",
                 "Math Passing %",
                 "Reading Passing %",
                 "Total Passing %"
                ],
    "Value": [schools_df["school_name"].count(),
              students_df["student_name"].count(),
              schools_df["budget"].sum(),
              round(students_df["math_score"].mean(),2),
              round(students_df["reading_score"].mean(),2),
              round(math_passing, 2),
              round(reading_passing, 2),
              round(total_passing, 2)
            ]
    }

In [14]:
#converting dictionary object into a dataframe. (4)
district_summary_df = pd.DataFrame(district_summary_data)
#setting the category values as index values (5)
district_summary_df = district_summary_df.set_index('Category', drop=True)
district_summary_df.head(10)

                             Value
Category
Total Unique Schools         15.00
Total Students            39170.00
Total Budget ($)       24649428.00
Average Math Score           78.99
Average Reading Score        81.88
Math Passing %               90.91
Reading Passing %           100.00
Total Passing %              90.91

In [22]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [68]:
"""
math_by_school_df = students_df.groupby(["school_name"])

math_by_school_df = math_by_school_df.mean()
math2 = pd.DataFrame(math_by_school_df).reset_index()
math3 = math2[["school_name","math_score"]]
"""
#creating dataframes that contain average scores by school, using groupby() and mean() (6). 
# resetting the index of each dataframe with reset_index() (7), to match the formatting of schools_df
mathAVG = (pd.DataFrame(students_df.groupby(["school_name"]).mean()).reset_index())[["school_name","math_score"]]
readAVG = (pd.DataFrame(students_df.groupby(["school_name"]).mean()).reset_index())[["school_name","reading_score"]]


school_summary_data = {
    "School Name": schools_df["school_name"],
    "School Type": schools_df["type"],
    "Student Count": schools_df["size"],
    "Total Budget ($)": schools_df["budget"],
    "Per-Student Budget ($)": (schools_df["budget"]/schools_df["size"]),
    "Average Math Score": mathAVG["math_score"],
    "Average Reading Score": readAVG["reading_score"]
    }

In [69]:
school_summary_df = pd.DataFrame(school_summary_data)
#setting the category values as index values (5)
#school_summary_df = school_summary_df.set_index('School Name', drop=True)
school_summary_df.head(20)

,School Name,School Type,Student Count,Total Budget ($),Per-Student Budget ($),Average Math Score,Average Reading Score
0,Huang High School,District,2917,1910635,655.0,77.048432,81.033963
1,Figueroa High School,District,2949,1884411,639.0,83.061895,83.975780
2,Shelton High School,Charter,1761,1056600,600.0,76.711767,81.158020
3,Hernandez High School,District,4635,3022020,652.0,77.102592,80.746258
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757
5,Wilson High School,Charter,2283,1319574,578.0,77.289752,80.934412
6,Cabrera High School,Charter,1858,1081356,582.0,83.803279,83.814988
7,Bailey High School,District,4976,3124928,628.0,76.629414,81.182722
8,Holden High School,Charter,427,248087,581.0,77.072464,80.966394
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699
10,Wright High School,Charter,1800,1049400,583.0,76.842711,80.744686
11,Rodriguez High School,District,3999,2547363,637.0,83.359455,83.725724
12,Johnson High School,District,4761,3094650,650.0,83.418349,83.848930
13,Ford High School,District,2739,1763916,644.0,83.274201,83.989488
14,Thomas High School,Charter,1635,1043130,638.0,83.682222,83.955000

In [67]:
#math_by_school_df = students_df.groupby(["school_name"])

#math_by_school_df = math_by_school_df.mean()
#math2 = pd.DataFrame(math_by_school_df).reset_index()
#math3 = math2[["school_name","math_score"]]


mathAVG = (pd.DataFrame(students_df.groupby(["school_name"]).mean()).reset_index())[["school_name","math_score"]]
readAVG = (pd.DataFrame(students_df.groupby(["school_name"]).mean()).reset_index())[["school_name","reading_score"]]

readAVG.head(20)

              school_name  reading_score
0      Bailey High School      81.033963
1     Cabrera High School      83.975780
2    Figueroa High School      81.158020
3        Ford High School      80.746258
4     Griffin High School      83.816757
5   Hernandez High School      80.934412
6      Holden High School      83.814988
7       Huang High School      81.182722
8     Johnson High School      80.966394
9        Pena High School      84.044699
10  Rodriguez High School      80.744686
11    Shelton High School      83.725724
12     Thomas High School      83.848930
13     Wilson High School      83.989488
14     Wright High School      83.955000